@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

a > img {
  display: inline-block;
}

[tabindex]:not([tabindex="-1"]):focus-visible {
  box-shadow: none;
  outline: none;
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom--opened .medium-zoom-image {
  z-index: 21;
}
