/**
 * --pause-on-hover: paused; --pause-on-click: paused;
 * --play: running; --direction: normal; --duration: 200s; --delay: 0s; --iteration-count: infinite;
 */

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
.marquee-container:hover div {
  animation-play-state: var(--pause-on-hover);
}
.marquee-container:active div {
  animation-play-state: var(--pause-on-click);
}


.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: marquee-scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}
