@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
/* https://www.solid-ui.com/docs/installation/manual */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 5.9% 10%;

    --radius: 0.5rem;

    --color-text-0: #1f2329;
    --color-text-1: #35383e;
    --color-text-2: #626569;
    --color-text-3: #bbbfc4;
    --color-bg-0: #fff;
    --color-bg-1: #fff;
    --color-bg-2: #fff;
    --color-bg-3: #fff;

    --color-bg-hover-0: rgb(209 213 219);
    --color-bg-hover-1: rgb(229 231 235);
    --color-bg-hover-2: rgb(243 244 246);
    --color-bg-hover-3: rgb(254 254 254);
    --color-bg-active-0: rgb(209 213 219);
    --color-bg-active-1: rgb(229 231 235);
    --color-bg-active-2: rgb(243 244 246);
    --color-bg-active-3: rgb(254 254 254);
    --color-shadow-1: rgba(0,0,0,0.02);
    --color-shadow-2: rgba(0,0,0,0.03);
    --color-shadow-3: rgba(0,0,0,0.04);
    --color-shadow-4: rgba(0,0,0,0.05);
    --color-shadow-5: rgba(0,0,0,0.06);
    --shadow-S1-down: 0px 2px 8px 2px var(--color-shadow-1), 0px 2px 4px 0px var(--color-shadow-1), 0px 1px 2px -2px var(--color-shadow-1);
    --shadow-S2-down: 0px 2px 4px -4px var(--color-shadow-1), 0px 4px 8px 0px var(--color-shadow-1), 0px 4px 16px 4px var(--color-shadow-2);
    --shadow-S3-down: 0px 6px 18px 6px var(--color-shadow-2), 0px 3px 6px -6px var(--color-shadow-4), 0px 4px 8px 0px var(--color-shadow-2);
    --shadow-S4-down: 0px 8px 24px 8px var(--color-shadow-3), 0px 6px 12px 0px var(--color-shadow-3), 0px 4px 8px -8px var(--color-shadow-5);
    --shadow-S5-down: 0px 10px 36px 10px var(--color-shadow-3), 0px 8px 24px 0px var(--color-shadow-3), 0px 6px 12px -10px var(--color-shadow-5);

    --color-scrollbar: #646a7344;
    --color-scrollbar-hover: #646a7366;
  }

  .dark,
  .dark-theme,
  [theme-mode="dark"],
  [data-theme="dark"],
  [data-kb-theme="dark"] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --border: 240 3.7% 30%;
    --input: 240 3.7% 15.9%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
    --color-text-0: #f9f9f9;
    --color-text-1: #f9f9f9cc;
    --color-text-2: #f9f9f999;
    --color-text-3: #f9f9f966;
    --color-bg-0: #232429;
    --color-bg-1: #2f3037;
    --color-bg-2: #3a3c47;
    --color-bg-3: #464852;
    --color-bg-hover-0: rgb(161 161 170);
    --color-bg-hover-1: rgb(113 113 122);
    --color-bg-hover-2: rgb(82 82 91);
    --color-bg-hover-3: rgb(63 63 70);
    --color-bg-active-0: rgb(161 161 170);
    --color-bg-active-1: rgb(113 113 122);
    --color-bg-active-2: rgb(82 82 91);
    --color-bg-active-3: rgb(63 63 70);

    --color-scrollbar: #888d9233;
    --color-scrollbar-hover: #888d9266;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body,
  :host {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;

    scrollbar-color: var(--color-scrollbar) transparent;
  }

  :focus-visible {
    outline: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
  }
}

@layer utilities {
  /* Chrome, Safari, Edge */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    /* Firefox */
    scrollbar-width: none;
  }
}
