.file {
  display: inline-block;
  font-size: 0.9em;
  padding: 1px 6px;
  border-radius: 0.375rem;
  border: 1px solid #0077ff;
  color: #0077ff;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
.file.active {
  background-color: #0077ff;
  color: white;
}

.comparison {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.comparison > svg {
  opacity: 0.3;
}

.optimization {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.5rem 1rem;
  background: linear-gradient(27deg, #3d3d3d, #000000);
  color: #e3e3e3;
  border-radius: 0.375rem;
  font-weight: 300;
}

:global(.dark) .optimization {
  background: linear-gradient(27deg, #3d3d3d, #252525);
}

a.cta {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  color: white;
  text-shadow: 0 1px 1px #00387838;
  box-shadow: 0 1px 2px #00295738;
  transition: all 0.2s ease;
  text-decoration: none;
  background: linear-gradient(to bottom, #238aff, #0077ff);
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a.cta span {
  display: inline-block;
  transition: all 0.2s ease;
}
a.cta:hover span {
  transform: translateX(3px);
}
a.cta:hover {
  box-shadow: 0 5px 30px -10px #0078ffab;
  filter: brightness(1.05);
}
a.cta:active {
  box-shadow: 0 1px 3px #00295738;
  filter: brightness(0.95);
}
a.cta:active span {
  transform: translateX(5px);
}
a.cta:focus-visible {
  outline: 2px solid hsl(var(--nextra-primary-hue) 100% 77%);
  outline-offset: 2px;
}
a.cta:focus-visible span {
  transform: translateX(3px);
}

a.nextjsLink {
  color: currentColor;
  text-decoration: none;
  font-weight: 600;
}
